.todos__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 85px 15px 60px;
}

.todos__description {
  word-break: break-all;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: #4d4d4d;
}

.todos__description--completed {
  color: #cdcdcd;
  text-decoration: line-through;
}

.todos__created {
  font-size: 13px;
  color: gray;
}

.todos__btn-icon {
  position: absolute;
  transform: translateY(-50%);
  width: 30px;
  height: 40px;
  font-size: 34px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.todos__btn-icon:hover,
.todos__btn-icon:focus,
.todos__btn-icon:active {
  color: #a31313;
}

.todos__btn-icon-edit {
  top: 50%;
  font-size: 19px;
  right: 45px;
}
.todos__btn-icon-destroy {
  top: 43%;
  right: 10px;
}
